p {
	font-weight: normal;
}

.container {
	margin-top: 8rem;
}

a {
	color: var(--primary-color);
	text-decoration: none;
}

ul {
	list-style: none;
}

/* Navbar */
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.7rem 2rem;
	position: fixed;
	z-index: 1;
	width: 100%;
	top: 0;
	border-bottom: solid 1px var(--primary-color);
	opacity: 0.9;
}

.navbar ul {
	display: flex;
}

.navbar a {
	color: #fff;
	padding: 0.45rem;
	margin: 0 0.25rem;
}

.navbar a:hover {
	color: var(--primary-color);
}

.navbar .welcome span {
	margin-right: 0.6rem;
}

/* Video Modal */
.video-wrapper {
}

#video-close {
	top: 8rem;
}

/* Profile */

.profile-top {
	grid-area: top;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.card-gradient {
	background: linear-gradient(
		-45deg,
		rgba(77, 148, 255, 0.877) 0%,
		rgba(5, 172, 80, 0.774) 100%
	);
}

a .social-icon /* or selector a .fa */ {
	font-size: 1.5em;
	margin: 0 3px;
	border-radius: 10%;
	border: solid white;
	color: white;
	line-height: 2em;
	width: 2em;
	height: 2em;
	text-align: center;
	display: inline-block;
	transition: 0.5s;
}

.borderless {
	border: 0;
}

.post-image {
	max-width: 150px;
}
