p {
	font-weight: normal;
}

.card-gradient {
	background: linear-gradient(
		-45deg,
		rgba(77, 148, 255, 0.877) 0%,
		rgba(5, 172, 80, 0.774) 100%
	);
}

a .social-icon /* or selector a .fa */ {
	font-size: 1.5em;
	margin: 0 3px;
	border-radius: 50%;
	border: solid white;
	color: white;
	line-height: 2em;
	width: 2em;
	height: 2em;
	text-align: center;
	display: inline-block;
	transition: 0.5s;
}

.borderless {
	border: 0;
}

.post-image {
	max-width: 150px;
}
